html body{
  background-color: black;
  color: green;
  text-align: left;
}
h1{
  text-align: center;
  color: white;
  font-size:5vw

}
pre{
  color: blue;

}
h2{
  color: gainsboro;
}
p{
  ont-size: 2vw;
}
≈
