body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("img/bg.png");
    background-size: cover;
    background-position: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black hue with 50% opacity */
    backdrop-filter: blur(10px); /* Blur effect */
    z-index: -1; /* Ensure the overlay is behind the content */
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 90%; /* Adjusted max-width for better mobile responsiveness */
    margin: auto;
    padding: 20px;
    z-index: 1;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #fff;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #fff;
}

.social-links a {
    margin: 0 10px;
    color: white;
    font-size: 24px; /* Enlarge social icons for mobile */
}

.button-container {
    margin-top: 20px; /* Add margin to separate buttons */
}

.button-container a {
    display: block; /* Make buttons block-level elements */
    width: 100%; /* Make buttons full width */
    padding: 10px 0; /* Adjusted padding */
    background-color: #98aec6;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px; /* Add margin between buttons */
}

.image-container {
    display: inline-block;
    width: 150px; /* Adjust the width and height as needed */
    height: 150px;
    border-radius: 50%; /* Makes the container circular */
    overflow: hidden; /* Hides overflow of the image */
    margin: 0 auto 20px; /* Centers the container and adds space below */
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire container */
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black hue with 50% opacity */
    color: aquamarine;
    text-align: center;
    padding: 15px 0;
    z-index: 1; /* Ensure the footer is above the overlay */
}

@media only screen and (max-width: 768px) {
    .container {
        padding: 10px; /* Adjusted padding for smaller screens */
    }
    .image-container {
        width: 120px; /* Adjusted image size for smaller screens */
        height: 120px;
    }
    h1 {
        font-size: 28px; /* Adjusted font size for smaller screens */
    }
    p {
        font-size: 16px; /* Adjusted font size for smaller screens */
        margin: 10px auto; /* Center and add spacing to the "Accidental hacker" lines */
        max-width: 80%; /* Limit width for better readability on smaller screens */
    }
    .social-links a {
        font-size: 32px; /* Enlarge social icons for smaller screens */
        margin-right: 5px; /* Adjusted margin for smaller screens */
    }
    .button-container {
        margin-top: 20px; /* Add margin to separate buttons */
    }
    .button-container a {
        padding: 10px 20px; /* Adjusted padding */
        margin-bottom: 10px; /* Add margin between buttons */
    }
    .footer{
        display: none;
    }
}
