html,body{
  background-color: black;
  color: white;
  font-family: 'Playfair Display', serif;
  width: 90%;
  height: 100%;
  margin-left: : 10px;
}
.menu{
  text-align: right;
}
.menu a{
  color: green;
}

.footer p{
  text-align: center;
  width: 100%;
  background-color: black;
  color: whitesmoke;
  bottom: 0;
  position: relative;
}

h2{
  color: rgb(255, 102, 51);
  font-weight: 500;

}
h3{
  text-align: center;
  color: rgb(255, 102, 51);
  font-weight: 500;
}
h3 a{
  color: white;
}

#main{
  text-align: center;
}
img {
    vertical-align: middle;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    background-color: white;
}
